.tatuajesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.tatuajesContainer h1 {
    text-decoration-color: var(--textWhite);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    margin: 0;
}

.tatuajesContainer button {
    outline: none;
}

.tatuajesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tatuajesHeader,
.tatuajesFooter {
    max-width: 100%;
    z-index: 0;
}

.tatuajesHeader p {
    color: var(--accent);
}

.tatuajesExplicacion02 {
    justify-items: center;
}

.tatuajesMedidas,
.tatuajesMedidasExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tableTatuajesMedida {
    margin: 15px;
}

.tatuajesFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tatuajesFooter button {
    text-decoration-color: transparent;
}

.tatuajesFooter .buttonsContainer button {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--primary-font);
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.25s;
    border: none;
}

/* ******************************************************* */
/* ********************    Slider    ********************* */
/* ******************************************************* */

.fotomatonImgTatuajes {
    width: 100%;
    height: auto;
    max-width: 500px;
    overflow: hidden;
    padding: 0 30px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    text-decoration-color: none;
}

/* ******************************************************* */

/* Medidad Tablet */
@media ( 760px <= width ) {

    .tatuajesContainer {
        padding-top: 150px;
    }

    .fotomatonImgTatuajes {
        max-width: 500px;
    }

    .tatuajesContainer h1 {
        font-size: 3rem;
        padding-bottom: 0;
    }

    .tatuajesContainer p {
        max-width: 1000px;
    }    
}

/* Medidas PC  */
@media ( 1024px <= width ) {

    .fotomatonImgTatuajes {
        max-width: 1200px;
        margin: 20px;
    }

    .tatuajesContainer h1 {
        font-size: 2.75rem;
    }

    .tatuajesMedidasExp {
        flex-direction: row;
        align-items: center;
        justify-content: center; 
        gap: 20px;
    }
}

@media ( 1400px <= width ) {

    .tatuajesContainer h1 {
        font-size: 3rem;
    }
    
    .fotomatonImgTatuajes {
        max-width: 1400px;
    }

}