.service4Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 20px;
    list-style: none;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.service4Container h1 {
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color: var(--textWhite);
    color: var(--textWhite);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    margin: 0;
    padding: 5px;
}

.service4Container h2 {
    font-family: var(--tittle-font);
}

.service4Container h3 {
    font-weight: lighter;
    color: var(--accent-text-lighter);
}

.service4Container a {
    font-weight: bolder;
}


.service4Container p {
    margin: 0 auto 20px auto;
    max-width: 80%;
}

.service4DescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 0 20px;
}

.service4DescriptionContainer p{
    text-align: center;
}

.service4DescriptionContainer ul {
    padding: 0 25px;
}

.service4DescriptionContainer li {
    margin-bottom: 10px;
    text-align: left;
}

.service4Container img,
.service4Container video {
    width: 80%;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

.service4Container video{
    max-width: 400px;
    pointer-events: all;
    user-select: all;
    cursor: none;
}

#videoDoble {
    filter: none;
}

/* ******************************************
*** Service 4 Slider ***
****************************************** */

.fotomatonImgService4 {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    padding: 0px 25px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
}

.service4Container .slick-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service4Container .slick-prev{
    left: 25px;
}

.service4Container .slick-next{
    right: 25px;
}


/* Medidad Tablet */
@media ( 760px <= width ) {

    .service4Container {
        padding-top: 150px;
    }
}

/* Medidas PC  */
@media ( 1024px <= width ) {
    .service4Container {
        margin: 0;
        padding-top: 30px;
    }

    .service4Container h2{
        display: inline-block;
        margin: 0 0 15px 0;
        font-size: 2.5rem;
        padding: 5px;
    }

    .service4Container p {
        max-width: 1000px;
    }

    .service4Container img,
    .service4Container video {
        max-width: 400px;
    }

    .service4Container video{
        cursor: pointer;
    }

    .service4ContentContainer {
        margin: 100px 10px 0px 50px;
    }

    .service4DescriptionContainer {
        max-width: 1400px;
        gap: 0;
    }

    .fotomatonImgService4 {
        max-width: 1200px;
        margin: 20px;
    }
}

@media ( 1330px <= width ) {
    .descriptionContainerService4 {
        flex-direction: row;
        text-align: start;
        gap: 1rem;
    }
    
}

@media ( 1400px <= width ) {

    .service4Container h1 {
        font-size: 3rem;
    }
    
    .fotomatonImgService4 {
        max-width: 1400px;
    }

    .service4Details h2 {
        font-size: 2.75rem;
    }

}