.aboutUsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('src/assets/img/reviews_equipo/bwDavidIvet.jpg');
    background-size: contain;
    background-attachment: fixed;
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.aboutUsContainer::before {
    content: ''; 
    position: absolute; 
    top: -2px;
    left: 0px;
    right: 0px;
    bottom: -2px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.aboutUsContainer > * {
    position: relative;
    z-index: 2;
}

.aboutUsContainer img {
    width: 80%;
    height: auto;
    filter: drop-shadow(0px 0px 20px var(--shadow-pink-400));
    border-radius: 25px;
}


/* Medidad Tablet */
/* @media screen and (min-width: 748px) {

} */

/* Medidas PC  */
/* @media screen and (min-width: 1024px) {
    
} */