.companiesContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap: balance;
    padding: 20px;
    gap: 10px;
    background: var(--gradient-pink-2);
}

/* .logoCompanies{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
} */

/* ******************************************
*** Company Slider ***
****************************************** */

.imgCompanies img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 5px;
}

/* ******************************************
*** Company Infinite Loop ***
****************************************** */
.logoCompanies {
    overflow: hidden;
    padding: 20px 0;
    background: var(--gradient-pink-2);
    white-space: nowrap;
    position: relative;
}

.logoCompanies:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-coloro-950-opacityLess));
    content: "";
    z-index: 2;
}

/* Medidad Tablet */
/* @media screen and (min-width: 748px) {

} */

/* Medidas PC  */
/* @media screen and (min-width: 1024px) {
    
} */