.companiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.logoCompanies{
    display: grid;
    grid-template-columns: auto;
}

.companyImg img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}


/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}