/* .companiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    padding: 20px;
    gap: 10px;
    background: var(--gradient-pink-2);
} */

/* .logoCompanies{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 10px;
    width: 50%;
    height: auto;
} */

/* .companyImg img{
    width: 100%;
    height: auto;
    border-radius: 25px;
} */

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}