
/*********** Form **************
****************************************** */
form label {
    display: block;
    width: 100%;
    margin: 0 auto;
}

input,
textarea, input:focus,
textarea:focus {
    color: var(--accent-200);
    font-size: .8rem;
    text-align: left;
    width: 100%;
    padding: 1rem;
    background: none;
    cursor: pointer;
    margin: .5rem 0 .5rem;
}

.contactoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--gradient-bg-4);
    align-items: center;
    color: var(--accent-400);
    padding: 20px;
}

.contactoContainer h2 {
    color: var(--text-50);
}


.elementsContainer {
    width: 90%;
    height: auto;
    text-align: center;
}

.formContainer  label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 2px;
    gap: .2rem;
}


.formContainer input{
    text-align: left;
    font-weight: 700;
    border: 2px solid var(--accent-600);
    border-radius: 15px;
}

.formContainer input::placeholder{
    text-align: left;
    color: var(--accent-200);
}

.formContainer input:focus {
    border: 2px solid transparent;
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="tel"],
.formContainer input[type="date"] {
    cursor: pointer;
    text-align: left;
    direction: ltr; 
    padding-left: 5px; 
}

.formContainer select {
    width: 100%;
    padding: 1rem 0 1rem 0;
    border: 2px solid var(--accent-600);
    border-radius: 15px;
    background-color: transparent; 
    color: var(--accent-200); 
    font-size: 1rem;
    cursor: pointer;
}

.formContainer select:focus {
    border-color: var(--accent-600);
}

.formContainer option {
    background: var(--secondary-300);
    color: var(--text-50);
    font-weight: bolder;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.checkBoxContainer label {
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 0;
    color: var(--text-100);
}

.checkBoxContainer label input[type="checkbox"] {
    transform: scale(1.25);
}


.checkBoxContainer .checkBoxText {
    display: inline-block;
    font-size: .75rem;
    margin-left: 5px;
}

form button {
    font-size: 1.25rem;
    width: 11rem;
    background: var(--gradient-button-1);
    color: var(--text-950);
    font-weight: bolder;
    border: none;
    padding: .5rem;
    margin: .5rem 0rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.mediaContainer {
    display: none;
}

/* ***************************************
*********** Responsive **************
****************************************** */

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    
}