/* TODO: Poner la barra de navegacion fija, que tenga un filtro blur de fondo asi quedara mas bonito. El video con el titulo que se quede arriba y la barra de nav fija asi siempre podremos movernos por la web */

header {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

header button {
    width: fit-content;
    height: fit-content;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header div, 
header ul {
    z-index: 1;
}

header h1,
header ul {
    margin: 0;
}

/* nav ul li a, 
li{
    color: var(--primary-color-300);
} */

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 0;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logoMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.hamburgerMenu {
    background-image: url('src/assets/icons/hamburger.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bounceIn;
    animation-duration: 2s;
}

.crossMenu {
    background-image: url('src/assets/icons/cross.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rubberBand;
    animation-duration: 1s;
}

nav ul {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.menuOpened ul{
    width: 100%;
    text-align: center;
    text-wrap: balance;
    max-height: 300px;
    opacity: 10;
    transition: max-height .75s ease, opacity .75s ease;
}

.productosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.productosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}

.bodasEventosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.bodasEventosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}



.presentationContainer {
    width: 100%;
    text-align: center;
    text-wrap: balance;
}

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }

    .menuClosed {
        display: flex;
        flex-direction: row;
    }
    
    .productosOpen {
        display: flex;
        flex-direction: column;
    }
    
    .bodasEventosOpen {
        display: flex;
        flex-direction: column;
    }
}