/* * Navigation */

nav {
    position: relative;
}

nav button{
    width: fit-content;
    height: fit-content;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logoMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--shadow-black-900);
}

.hamburgerMenu {
    background-image: url('src/assets/icons/hamburger.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bounceIn;
    animation-duration: 2s;
}

.crossMenu {
    background-image: url('src/assets/icons/cross.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rubberBand;
    animation-duration: 1s;
}

nav ul {
    background: transparent;
    text-align: center;
    text-wrap: balance;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.menuOpened ul{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: none;
    opacity: 1;
    background: var(--primary-color-100);
    transition: max-height .75s ease, opacity .75s ease;
    z-index: 999;

    @supports (backdrop-filter: blur(5px)) {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
    }
}

.productosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.productosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}

.bodasEventosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.bodasEventosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}

/* * Header */

header {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 0;
}

.presentationContainer {
    width: 100%;
    text-align: center;
    text-wrap: balance;
}

/* * Media Tablet */

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* * Media PC */

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }

    .menuClosed {
        display: flex;
        flex-direction: row;
    }
    
    .productosOpen {
        display: flex;
        flex-direction: column;
    }
    
    .bodasEventosOpen {
        display: flex;
        flex-direction: column;
    }
}