/* * Navigation */

/* ToDo: Hacer que al añadir el espacio del padding top, se hace en el HOME, no se vea el salto. Queda poco estetico */

nav {
    position: relative;
}

nav b {
    cursor: pointer;
}

nav button{
    width: fit-content;
    height: fit-content;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navFixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logoMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--shadow-black-900);
}

.hamburgerMenu {
    background-image: url('src/assets/icons/hamburger.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bounceIn;
    animation-duration: 2s;
}

.crossMenu {
    background-image: url('src/assets/icons/cross.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rubberBand;
    animation-duration: 1s;
}

nav ul {
    background: transparent;
    text-align: center;
    text-wrap: balance;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.menuOpened ul{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: none;
    opacity: 1;
    background: var(--primary-color-100);
    transition: max-height .75s ease, opacity .75s ease;
    z-index: 999;

    @supports (backdrop-filter: blur(5px)) {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
    }
}

.productosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.productosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}

.bodasEventosClose {
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height .75s ease, opacity .75s ease;
    width: 100%;
    overflow: hidden;
}

.bodasEventosOpen {
    max-height: 150px;
    opacity: 1;
    transition: max-height .75s ease, opacity .75s ease;
}

/* * Header */

header {
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 0;
}

.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    gap: 1rem;
}

/* * Burger Menu */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* * Media Tablet */

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* * Media PC */

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }

    .menuClosed {
        display: flex;
        flex-direction: row;
    }
    
    .productosOpen {
        display: flex;
        flex-direction: column;
    }
    
    .bodasEventosOpen {
        display: flex;
        flex-direction: column;
    }
}