.productsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.productsTittle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-wrap: balance;
    background: var(--background-VS-2);
}

.generalProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--background-VS-2);
}

.generalProducts img {
    width: 100%;
    height: auto;
    max-width: 250px;
    aspect-ratio: 4/3;
    object-fit: cover;
    filter: drop-shadow(0px 0px 20px var(--accent-300));
    border-radius: 25px;
}

.generalProducts h3,
#kitAntiResaca h3 {
    padding-bottom: 20px;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.productCard a {
    font-weight: bolder;
}

#kitAntiResaca img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 20px var(--accent-400));
    border-radius: 25px;
}

#kitAntiResaca {
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    background: var(--gradient-bg-4);
}

/* Medidad Tablet */
@media screen and (min-width: 760px) {
    .productsContainer button {
        filter: drop-shadow(1px 1px 5px var(--accent-300));
    }
    #kitAntiResaca button {
        filter: drop-shadow(1px 1px 5px var(--accent-100));
    }
}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    .productsContainer button,
    #kitAntiResaca button {
        filter: none;
    }
}