.productsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.productsTittle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-wrap: balance;
    background: var(--vs2);
}

.generalProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--vs2);
}

.generalProducts img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin-top: 15px;
    aspect-ratio: 4/3;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

.generalProducts h3,
#kitAntiResaca h3 {
    padding-bottom: 20px;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    margin: 0 10px 0 10px;
    padding: 20px;
}

.productCard a {
    font-weight: bolder;
}

#neones h3 {
    background: var(--textWhite);
    color: var(--secondary);
    margin: 0;
    padding: 5px;
}

#letras-love h3 {
    background: var(--secondary);
    color: var(--textWhite);
    margin: 0;
    padding: 5px;
}

#kitAntiResaca h3 {
    color: var(--textWhite);
    text-decoration: 2px underline var(--accent);
    margin: 0;
    padding: 5px;
}

#kitAntiResaca img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

#kitAntiResaca {
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    background: var(--vs2);
}

/* Medidad Tablet */
@media screen and (min-width: 760px) {

    .productCard {
        margin: 0 10px 0 10px;
    }
}

/* Medidas PC  */
@media screen and (min-width: 1024px) {

    #kitAntiResaca p {
        max-width: 800px;
    }

    #kitAntiResaca h3 {
        padding-bottom: 0;
        color: var(--accent);
    }

    .productCardRow { 
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 10px 10px 50px 10px;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .contentContainer h4 {
        display: inline-block;
        margin: 0;
        font-style: italic;
        font-weight: bolder;
    }

    .contentContainer .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary);
    }
}