.reviewsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--backgorund-VS-2);
    align-items: center;
    color: var(--text-50);
}

.reviewsContainer h2{
    padding: 10px;
    text-align: center;
    text-wrap: balance;
}
.reviewsContainer h4 {
    background: var(--accent-100);
    color: var(--text-950);
    margin: 10px 0 15px 0;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 15px var(--accent-200));
}

.fotomatonImgReviews {
    width: 100%;
    max-width: 700px;
    height: auto;
    overflow: hidden;
    padding: 0 30px;
}

.reviewCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 3px dotted var(--accent-100);
    border-radius: 25px;
}

.reviewCard img {
    width: 25%;
    min-height: 25%;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px var(--accent-200));
}

.description {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

/* Medidad Tablet */
@media screen and (min-width: 760px) {
    .reviewCard img {
        margin: 0 0 20px 20px;
    }

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    
}