/* Specify Styles for All Sections */

*{
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
}

h1,h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}


/* Aqui cambiamos los colores para el elemento li del menu desplegable*/
ul {
    padding: 0px;
    list-style: none;
    color: var(--text-50);
}

a {
    text-decoration: none;
}

button {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.25s;
    border: none;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonsContainerEven {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonsContainer button {
    background: var(--gradient-button-1);
}

.buttonsContainerEven button {
    background: var(--gradient-button-2);
}

.line {
    border-top: 4px solid var(--secondary-50); 
    width: 100%;
    margin: 5px;
}

/* Propiedades Slider */
.slick-dots {
    bottom: 0px;
}

.slick-dots li.slick-active button:before {
    color: var(--text-50);
    opacity: 1;
}

.slick-dots li button:before {
    color: var(--secondary-50);
}

/* Whatsapp Logo */

.contactFixed {
    position: fixed;
    margin-right: 0px;
    bottom: 50px;
    right: 5px;
    z-index: 999;
}

/* Medidad Tablet */
@media screen and (min-width: 760px) {
    h2 {
        font-size: 2.5rem;
        font-weight: bolder;
    }
    
    h1,h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.7rem;
    }

    .contactFixed {
        right: 10px;
    }

    button {
        margin: 10px 0 10px 0;
    }
}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    button:hover {
        filter: drop-shadow(0 0 15px var(--primary-color-300));
    }

    .buttonsContainerEven button:hover,
    .buttonsContainer button:hover {
        filter: drop-shadow(0 0 15px var(--accent-300));
    }
}

