.service1Container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('src/assets/img/servicios/Fotomaton360.webp');
    background-size: contain;
    background-attachment: fixed;
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.service1Container::before {
    content: ''; 
    position: absolute; 
    top: -2px;
    left: 0px;
    right: 0px;
    bottom: -2px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.service1Container > * {
    position: relative;
    z-index: 2;
}

.service1Container img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 20px var(--shadow-pink-400));
    border-radius: 25px;
}

/* ******************************************
*** Service 1 Slider ***
****************************************** */

.fotomatonImg {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
}

.imgServices img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 5px;
}


/* Medidad Tablet */
/* @media screen and (min-width: 748px) {

} */

/* Medidas PC  */
/* @media screen and (min-width: 1024px) {
    
} */