#magic-mirror {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--gradient-pink);
}

#magic-mirror .service2Container {
    position: relative;
    z-index: 1;
}


/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}