#products {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--gradient-pink);
}

/* Parallax */
#letras-love {
    background-image: url('src/assets/img/Minimalist Elegant Luxury Jewelry Logo (25).png');
    background-size: auto;
    background-attachment: fixed;
}
#kitAntiResaca {
    background-image: url('src/assets/img/kitAntiresaca.webp');
    background-size: auto;
    background-attachment: fixed;
}

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}