.service2Container {
    display: flex;
    flex-direction: column;
    background: var(--vs2);
    align-items: center;
    text-align: center;
    text-wrap: balance;
    padding: 20px;
}

.service2Container h2 {
    padding-bottom: 20px;
    color: var(--secondary);
    text-decoration: 2px underline var(--textWhite);
}

.service2Container h3 {
    display: none;
}

.service2Container img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

.service2Container a {
    font-weight: bolder;
}

/* Medidad Tablet */
@media screen and (min-width: 760px) {
    .service2ContentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 10px 50px 50px;
        gap: 2.5rem;
    }

    .service2Container h2 {
        padding-bottom: 0;
        color: var(--accent);
        text-decoration: none;
    }

    .service2Container h3 {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 5px;
        font-style: italic;
        font-weight: bolder;
        background: var(--textWhite);
        color: var(--secondary);
    }

    .service2Container span {
        background: var(--textWhite);
        color: var(--accent);
        padding: 5px;
    }

    .service2Container p {
        max-width: 800px;
    }

    .service2Container img {
        margin: 0;
    }

    .service2Container .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary);
    }

    .service2DescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    .service2Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        margin: 0;
    }

    .service2Container h3{
        display: inline-block;
        font-style: italic;
        font-weight: bolder;
    }

    .service2ContentContainer {
        align-items: start;
        margin: 50px 10px 50px 50px;
        gap: 5rem;
    }

    .service2DescriptionContainer {
        gap: 0;
    }

    .service2Container p {
        max-width: 80%;
    }
}