.service4Container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--gradient-pink-2);
}

.service4Tittle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-wrap: balance;
    background: var(--gradient-pink-2);
}

/* Parallax */
#letras-love {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('src/assets/img/LetrasLoveFondo.webp');
    background-size: contain;
    background-attachment: fixed;
}

#neones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kitAntiResaca {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('src/assets/img/kitAntiresaca.webp');
    background-size: contain;
    background-attachment: fixed;
}

/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}