#plataforma360 {
    display: flex;
    flex-direction: column;
    position: relative;
}

#section1-bg {
    background-image: url('src/assets/img/David_Ivet.JPG');
    background-size: contain;
    background-attachment: fixed;
}


/* Medidad Tablet */
@media screen and (min-width: 748px) {

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {
    header button {
        display: none;
    }
}