.service3Container {
    display: flex;
    flex-direction: column;
    background: var(--background-VS-2);
    padding: 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.service3Container img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--accent-800));
    border-radius: 25px;
}

.service3Container h2 {
    padding-bottom: 20px;
}

.service3Container h3 {
    display: none;
}

.service3Container a {
    font-weight: bolder;
}


/* Medidad Tablet */
@media screen and (min-width: 760px) {
    .service3ContentContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 10px 50px 50px 10px;
        gap: 5rem;
    }

    .service3Container h2 {
        padding-bottom: 0;
        color: var(--accent-50);
    }

    .service3Container h4 {
        padding-bottom: 0;
        color: var(--accent-500);
    }

    .service3Container h3 {
        display: inline-block;
        margin-bottom: 30px;
        font-style: italic;
        font-weight: bolder;
        
    }

    .service3Container p {
        max-width: 800px;
    }

    .service3Container img {
        margin: 0;
    }

    .service3Container .line {
        max-width: 80%;
        border-top: 1px solid var(--secondary-200);
    }

    .service3DescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .service3DescriptionContainer button {
        text-wrap: balance;
        text-align: center;
        filter: drop-shadow(1px 1px 5px var(--accent-100));
    }
}

/* Medidas PC  */
@media screen and (min-width: 1024px) {

    .service3Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        margin: 0;
    }

    .service3Container h4{
        display: inline-block;
        margin: 0;
        font-style: italic;
        font-weight: bolder;
    }

    .service3ContentContainer {
        align-items: start;
        margin: 50px 10px 50px 50px;
        gap: 5rem;
    }

    .service3DescriptionContainer {
        gap: 0;
    }

    .service3DescriptionContainer button {
        filter: none;
        transition: filter .5s ease;
    }

    .service3DescriptionContainer button:hover {
        filter: drop-shadow(0px 0px 15px var(--accent-100));
    }

}