.service3Container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    align-items: center;
    text-align: center;
    text-wrap: balance;
}

.service3Container img {
    width: 80%;
    max-width: 350px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px var(--contrastBlack2));
    border-radius: 25px;
}

.service3Container h1 {
    padding-bottom: 20px;
    color: var(--textWhite);
    text-decoration: 2px underline wavy var(--secondary);
}

.service3Container h2 {
    display: none;
}

.service3Container a {
    font-weight: bolder;
}


/* Medidad Tablet */
@media screen and (min-width: 760px) {
    .service3ContentContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 10px 50px 10px 10px;
        gap: 5rem;
    }

    .service3Container h1 {
        padding-bottom: 0;
        color: var(--textWhite);
        text-decoration: none;
    }

    .service3Container h2 {
        padding-bottom: 0;
        color: var(--accent);
        padding: 5px;
    }

    .service3Container h2 {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 5px;
        font-style: italic;
        font-weight: bolder;
        color: var(--textWhite);
        background: var(--secondary);
        
    }

    .service3Container img {
        margin: 0;
    }

    .service3Container .line {
        max-width: 80%;
        border-top: 1px solid var(--textWhite);
    }

    .service3DescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

}

/* Medidas PC  */
@media screen and (min-width: 1024px) {

    .service3Container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        margin: 0;
    }

    .service3Container h2{
        display: inline-block;
        margin: 0;
        font-style: italic;
        font-weight: bolder;
    }

    .service3Container img {
        max-width: 400px;
    }

    .service3ContentContainer {
        align-items: start;
        margin: 50px 40px 50px 50px;

    }

    .service3DescriptionContainer {
        max-width: 1000px;
        gap: 0;
    }
}